server:
  port: 8080
  servlet:
    context-path: /gruastremart-core-api
spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}
  web:
    resources:
      add-mappings: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
      base-path: /actuator
      path-mapping:
        health: health
  metrics:
    export:
      prometheus:
        enabled: true
  endpoint:
    prometheus:
      enabled: true
    health:
      show-details: always