server:
  port: 8080
  servlet:
    context-path: /gruastremart-core-api

spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}
    include: observability
  application:
    name: gruastremart-core-api
  web:
    resources:
      add-mappings: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics,traces
      base-path: /actuator
      path-mapping:
        health: health
  metrics:
    export:
      prometheus:
        enabled: true
  endpoint:
    prometheus:
      enabled: true
    health:
      show-details: always
  tracing:
    enabled: true
    sampling:
      probability: 1.0